<html>

<head>
    <title>VisualScript</title>
    <meta charset="utf-8" />
    <meta name="description" content="This project is for user to write acceptance test for android platform applications. ">
    <meta name="author" content="Visual Script team: Patrick, Denny, Mario, Hsin">

    <script src="{{url_for('static', filename='javascript/jquery/jquery-3.2.1.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='javascript/jquery/jstree/dist/themes/default/style.min.css')}}" />
    <script src="{{url_for('static', filename='javascript/sweetalert2/dist/sweetalert2.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='javascript/sweetalert2/dist/sweetalert2.min.css')}}" />
    <script src="{{url_for('static', filename='javascript/ajax.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/jquery/jstree/dist/jstree.min.js')}}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_home_page.css') }}">
    <link href="{{url_for('static', filename='googleapis.css')}}" rel="stylesheet" />

    <script src="{{url_for('static', filename='javascript/WorkSpace.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/Create.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/Load.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/initializePage.js')}}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />

</head>

<body>
    <div id="Menu-Bar"> <img src="{{url_for('static', filename='logo.svg')}}" />
        <div>
            <ul>
                <li id="CreateBtn">Create</li>
                <li id="loadBtn">Load</li>
                <li>Save</li>
                <li>Redo</li>
                <li>Undo</li>
                <li>Run All</li>
                <li>Run This</li>
                <li>Clear</li>
            </ul>
        </div>
    </div>
    <div class="row2">
        <div id="Project-Manager">
            <h6>Work Space</h6>
            <div id="FileStructure"></div>
        </div>
        <div id="TestCase">
            <script src="{{url_for('static', filename='blockly/blockly_compressed.js')}}"></script>
            <script src="{{url_for('static', filename='blockly/blocks_compressed.js')}}"></script>
            <script src="{{url_for('static', filename='blockly/msg/js/en.js')}}"></script>
            <div id="blocklyDiv">
                <xml id="toolbox" style="display:none">
                    <block type="controls_if"></block>
                    <block type="controls_repeat_ext"></block>
                    <block type="logic_compare"></block>
                    <blcok type="math_number"></block>
                    <block type="math_arithmetic"></block>
                    <block type="text"></block>
                    <blcok type="text_print"></block>
                </xml>
                <script>
                    var workspacePlayground = Blockly.inject('blocklyDiv',
                         {toolbox: document.getElementById('toolbox')});
                </script>
            </div>
            <!-- <div class="Tab">
                <div id="TabList"></div>
            </div> -->

        </div>
        <div id="ScreenShot">
            <h6>ScreenShot</h6>
        </div>
    </div>
    <div class="row3">
        <div id="NodeTree">
            <h6>NodeTree</h6>
            <div id="Nodes"></div>
        </div>
        <div id="Message">
            <h6>Message</h6>
            <div id="MessageList"></div>
        </div>
    </div>

</body>

</html>
