build/
BUILD/
*~
*.bak
.bzr
*.swp
*.swo
.DS_Store
*.pyc
*.so
.idea
.cache
.ropeproject
src.egg-info
GeometrA.egg-info/PKG-INFO
GeometrA/static/prepros-6.config
tests/screenshot_pic/before.png
tests/.coverage
record.log
*/report.html
*.xml
package-lock.json
node_modules
aos_info.txt
GeometrA/static/screenshot_pic/
