head
    title VisualScript
    link(rel="stylesheet" type="text/css" ,href="style_home_page.css")
    //bootstrap
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    //font
    link(href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet")
#Menu-Bar 
    img(src="logo.svg")
    div
        .Slogan Visual Script - 一個視覺化Android應用測試工具
        br
        ul
            li Load
            li Save
            li Redo
            li Undo
            li Run All
            li Run This
            li Clear
.row2
    #Project-Manager
        h6 Project-Manager
    #TestCase
        h6 TestCase
        .Tab
            div Tab1   X
            div Tab2   X
        div
            .ToolBox
                h6 ToolBox
            .Editor
                h6 Editor
    #ScreenShot
        h6 ScreenShot
.row3
    #Node
        h6 Node
    #Message
        h6 Message
