body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Menu-Bar {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    background-color: #D5F2E3;
    position: absolute;
    top: 0px;
}

.Menu-Button {
    display: inline-block;
    background-color: #D5F2E3;
    margin: 5px;
    margin-top: 30px;
    border-bottom: solid #4B8F8C 5px;
    border-radius: 3px;
    color: #216869;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.Project-Manager {
    background-color: #D5F2E3;
    width: 20%;
    height: 60%;
    position: absolute;
    top: 120px;
}

.TestCase {
    background-color: #D55555;
    width: 58%;
    height: 60%;
    position: absolute;
    left: 21%;
    top: 120px;
}

.Tab {
    background-color: #D53333;
    width: 97%;
    height: 7%;
    padding: 5px;
    margin: 5px;
    position: static;
}

.ToolBox {
    display: inline-block;
    background-color: #D11111;
    width: 23%;
    height: 80%;
    padding: 5px;
    margin: 5px;
    position: static;
}

.Editor {
    display: inline-block;
    background-color: #D13333;
    width: 70%;
    height: 80%;
    padding: 5px;
    margin: 5px;
    position: static;
}

.ScreenShot {
    background-color: #D5F2E3;
    width: 20%;
    height: 60%;
    position: absolute;
    right: 0%;
    top: 120px;
}