<html>

<head>
    <title>GeometrA</title>
    <meta charset="utf-8" />
    <meta name="description" content="This project is for user to write acceptance test for android platform applications. ">
    <meta name="author" content="Visual Script team: Patrick, Denny, Mario, Hsin">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="{{url_for('static', filename='javascript/jquery/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/jquery/jquery-ui-1.12.1/jquery-ui.min.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='javascript/jquery/jquery-ui-1.12.1/jquery-ui.css')}}" />
    <script src="{{url_for('static', filename='javascript/ajax.js')}}"></script>

    <script src="{{url_for('static', filename='javascript/jquery/jstree/dist/jstree.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/jquery/jstree/jstreegrid.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='javascript/jquery/jstree/dist/themes/default/style.min.css')}}" />
    <script src="{{url_for('static', filename='javascript/sweetalert2/dist/sweetalert2.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='javascript/sweetalert2/dist/sweetalert2.min.css')}}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_home_page.css') }}">
    <link href="{{url_for('static', filename='googleapis.css')}}" rel="stylesheet" />

    <script src="{{url_for('static', filename='javascript/Editor/Editor.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/Tab.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/WorkSpace.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/Create.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/Load.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/initializePage.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/ToolBar.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/NodeTree.js')}}"></script>

    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />

</head>

<body>
    <div id="Menu-Bar"> <img src="{{url_for('static', filename='logo.svg')}}" />
        <div>
            <ul>
                <li id="CreateButton">Create</li>
                <li id="loadButton">Load</li>
                <li id="saveButton">Save</li>
                <li>Undo</li>
                <li id="runButton">Run</li>
                <li>Run This</li>
                <li id="dumpButton">Dump Screen</li>
            </ul>
        </div>
    </div>
    <div class="row2">
        <div id="Project-Manager">
            <h6>Work Space</h6>
            <div id="FileStructure"></div>
        </div>
        <div id="TestCase">
            <script src="{{url_for('static', filename='javascript/blockly/blockly_compressed.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/blockly/blocks_compressed.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/blockly/python_compressed.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/blockly/msg/js/en.js')}}"></script>
            <script src="{{url_for('static', filename='javascript/Editor/block.js')}}"></script>
            <div id="tabs">
                <ul id="ul_tabs">
                </ul>
                <div id="blocklyDiv">
                    <xml id="toolbox" style="display:none;">

                        <category name="Action">
                            <block type="click"></block>
                            <block type="sleep"></block>
                            <block type="swipe"></block>
                            <block type="set_text"></block>
                            <block type="android_keycode"></block>
                            <block type="assert_exist"></block>
                            <block type="assert_not_exist"></block>
                        </category>
                        <category name="Control">
                            <block type="main"></block>
                            <block type="loop"></block>
                        </category>
                    </xml>
                    <script>
                        var workspace = Blockly.inject('blocklyDiv', {
                            toolbox: document.getElementById('toolbox')
                        });
                    </script>
                    <script src="{{url_for('static', filename='javascript/Editor/Action.js')}}"></script>
                </div>
            </div>

        </div>

        <div id="ScreenShot">
            <h6>ScreenShot</h6>
            <div id="ScreenCapture" style='width:100%; height:97%; display:block; position:absolute; top:30px;'>
                <img id="CurrentScreen" src="" style="width:100%; height:100%; display:block; position:absolute; top:0px; " />
            </div>
            <div id="Screen">

            </div>

        </div>
        <script src="{{url_for('static', filename ='javascript/Screen/screen.js')}}"></script>
    </div>
    <div class="row3">
        <div id="NodeTree">
            <h6>NodeTree</h6>
            <div id="NodesBlock">
                <div id="Nodes"></div>
            </div>
        </div>
        <div id="Message">
                <h6>Message</h6>
                <div id="loader"></div>
            <div id="MessageList"></div>
        </div>
    </div>
</body>

</html>
